{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>An Easy Read | Register</title>
    <meta name="description" content="Create an account to write your own articles">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/support-auth.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="auth-page">
        <h1>Register</h1>
        <form class="auth-form" action="/register" method="post" novalidate>  
            {{ form.hidden_tag() }}
            <div class="auth-form label-colour">
                <div>
                    <!-- Username -->
                    {{ form.username.label }}
                    {{ form.username(size=32, autocomplete="off", autofocus=True) }}
                    {% for error in form.username.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}   
                </div>
                <div>
                    <!-- Email -->
                    {{ form.email.label }}
                    {{ form.email(size=32, autocomplete="off") }}
                    {% for error in form.email.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}   
                </div>
                <div>
                    <!-- Password -->
                    {{ form.password.label }}
                    {{ form.password }}
                    {% for error in form.password.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %} 
                </div>
                <div>
                    <!-- Confirm password -->
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                    {% for error in form.confirm_password.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}     
                </div>
                <div id="legal-agreement">
                    <input type="checkbox">
                    <p>I have read and agree to the <a href="{{ url_for('main.terms_and_conditions') }}">Terms and Conditions</a> and <a href="{{ url_for('main.privacy_policy') }}">Privacy Policy</a>.</p>
                </div>
            </div>
                {{ form.submit(class="label-colour big-button") }}
        </form>
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Click to login</a></p>
    </div>
{% endblock %}