{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>An Easy Read | Reset password</title>
    <meta name="description" content="Forgotten your password? Don't worry, just request your password to be reset">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}"/>
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="auth-page">
        <h1>Reset Password</h1>
        <form class="auth-form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="auth-form label-colour">
                <div>
                    <!-- Email -->
                    {{ form.email.label }}
                    {{ form.email(size=32, autocomplete='off', autofocus=True) }}
                    {% for error in form.email.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>  
            </div>
                {{ form.submit(class="label-colour big-button") }}
        </form>
        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Click to register</a></p>
    </div>
{% endblock %}
