{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Reset password</title>
    <meta name="description" content="Forgotten your password? Don't worry, just create a new one">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/navigation.css"/>  
    <link rel="stylesheet" href="/static/css/general.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <link rel="stylesheet" href="/static/css/general.css"/>
    <link rel="stylesheet" href="/static/css/sitewide.css"/>
    <link rel="stylesheet" href="/static/css/auth.css"/>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="auth-page">
        <h1>Reset Password</h1>
        <form class="auth-form" action="" method="post" novalidate>  
            {{ form.hidden_tag() }}
            <div class="auth-form label-colour">
                <div>
                    <!-- Password -->
                    {{ form.password.label }}
                    {{ form.password(autofocus=True) }}
                    {% for error in form.password.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %} 
                </div>
                <div>
                    <!-- Confirm password -->
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                    {% for error in form.confirm_password.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>   
            </div>
                {{ form.submit(class="label-colour big-button") }}
        </form>
    </div>
{% endblock %}