/* || Base reset  */
* {
    margin: 0;
    padding: 0;
}


/* || Box-sizing and font-sizing  */
html {
    box-sizing: border-box;
    font-size: 100%;
}


/* || General Styles  */
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    background-color: #fbfdfe;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: #eee;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}


/* || Utility classes */
.label {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem 0.1rem;
    background-color: #DDD;
    /* border: 2px solid; */
    border-radius: 10px;
    display: inline-block;
}


/* || Sitewide  */

/* || Sitewide - Header  */
#page {
    min-width: 10rem;
    /* padding: 1rem 6%; */
}
#header-main {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    overflow: hidden;
    width: 100%;
    background: white;
    box-shadow: 0 0px 12px 0;
}
#header-brand {
    margin: 0.8rem 0 0 1rem;
}
#brand-logo {
    font-size: 2.1rem;
    font-weight: 730; 
}
#brand-name {
    font-size: 1.8rem;
    display: none;
    margin-left: 5px;
}
#header-nav {
    text-align: right;
    margin: 1rem;
}
nav i {
    font-size: 2.2rem;
}
nav ul {
    padding-top: 1rem;
}
.nav-link {
    color: black;
    font-size: 1.4rem;
    font-weight: 730;
    line-height: 2rem;
}


/* || Article */

/* || Article - Main image  */
article {
    margin: auto;
    padding: 0 6%;
}
article img {
    width: 100%;
    padding-top: 6rem;
}
.article-header {
    padding: 1rem;
}
.article-category {
    padding-bottom: 1rem;
}
.article-meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 0.6rem;
}


/* || Responsive design */

/* large portrait (336px and above) 
    - show header-name */
@media (min-width: 21rem) {
    #brand-name {
        display: inline-block;
    }
}

/* small landscape (640px and above)
    - Expand navigation*/
@media (min-width: 40rem) {
    #header-main {
        height: 4rem;
    }
    nav ul {
        display: flex;
        justify-items: start;
        gap: 2rem;
        margin-top: -2.2rem; /* Compensate for hidden icon */
    }
    nav i {
        font-size: 0; /* hide icon */
    }
}

/* Medium landscape (768px and above) 
    - Increase page width for header
    - Freeze article width  */
@media (min-width: 48rem) {
    .article-header,
    .article-body {
        max-width: 42rem;
        margin: auto;
    }
}

/* || Large landscape (1024px and above)
    - Freeze image width */
@media (min-width: 64rem) {
    article {
        max-width: 55rem;
        margin: auto;
    }
}