{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>An Easy Read | Admin's Articles</title>
    <meta name="description" content="An administration page to transfer articles between publishers">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article-pages.css') }}"/>
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/display-articles.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="admin-articles" class="full-spread">
        <ul id="admin-navigation">
            <li><h1>Articles</h1></li>
            <li><a href="{{ url_for('publish.display_publishers') }}">Publishers</a></li>
        </ul>
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <button id="published-live-tab" type="button" role="tab" aria-label="Live articles tab">Live</button>
            </li>            
            <li class="dropdown-tab dropdown-tab-right">
                <button id="published-deleted-tab" type="button" role="tab" aria-label="Deleted articles tab">Deleted</button>
            </li>
        </ul>
        <section id="results-display-panel">
            <ul>
                {% if articles %}
                    {% for article in articles %}
                        <li class="label-colour result-display" data-status="{{ article['Article'].status }}" data-active="{{ article['PublishingNote'].is_active }}">
                            {% if article['Image'].src %}
                                <figure>
                                    <img src="{{ article['Image'].src }}">
                                    <figcaption><h3>{{ article['Article'].title }}</h3></figcaption>
                                </figure>
                            {% else %}
                                <i class="no-image-icon far fa-image"></i>
                                <h3>{{ article['Article'].title }}</h3>
                            {% endif %}
                            <p>{{ article['Article'].description }}</p>
                            <i class="article-actions-icon fas fa-edit" tabindex="0" aria-label="Article actions menu">
                                <div class="article-actions-dropdown">
                                    <form class="article-action-edit" action="{{ url_for('publish.edit_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Edit</button>
                                    </form>
                                {% if article['Article'].status == 'pub_live' and article['PublishingNote'].is_active %}
                                    <form class="article-action-preview" action="{{ url_for('publish.view_article', id=article['PublishingNote'].id, slug=article['PublishingNote'].slug ) }}" method="post">
                                        <button type="submit" class="button grey-out">View</button>
                                    </form>
                                    <div class="article-action-link">
                                        <input type="hidden" name="pub-id" value="{{ article['PublishingNote'].id }}">
                                        <input type="hidden" name="article-slug" value="{{ article['PublishingNote'].slug }}">
                                        <button type="submit" class="button grey-out">Link</button>
                                    </div>
                                {% else %}
                                    <form class="article-action-preview" action="{{ url_for('publish.preview_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Preview</button>
                                    </form>
                                {% endif %}
                                {% if article['PublishingNote'].is_active == False %}
                                    <form class="article-action-activate" action="{{ url_for('publish.activate_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Activate</button>
                                    </form>
                                {% else %}
                                    <form class="article-action-deactivate" action="{{ url_for('publish.deactivate_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Deactivate</button>
                                    </form>
                                {% endif %}
                                {% if article['Article'].status == 'pub_deleted' %}
                                    <form class="article-action-transfer" action="{{ url_for('publish.transfer_article') }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="article_id" value="{{ article['Article'].id }}">
                                        <button type="button" class="button action">Transfer</button>
                                    </form>
                                {% endif %}
                                </div>
                            </i>
                            <form class="article-action-delete" action="{{ url_for('publish.permadelete_article') }}" method="get">
                                <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                <button type="submit" class="button delete"><i class="far fa-trash-alt" aria-label="Delete article button"></i></button>
                            </form>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}