{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Preview article</title>
    <meta name="description" content="See what an article will look like once published">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article-pages.css') }}"/>
{% endblock %}

<!-- JavaScript --> 
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/view-article-control.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/view-article-components.js') }}"></script>
{% endblock %}

<!-- Main -->
{% block main %}
<article class="full-page">
    <!-- Article Main Image -->
    {% if article_image %}
        <figure>
            <img src="{{ article_image.src }}" alt="{{ article_image.alt }}"/>
            {% if article_image.cite %}
                <figcaption>{{ article_image.cite | safe }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
    <!-- Article header -->
    <div class="article-header">
        {% if categories %}
            <ul class="article-categories-list">
                {% for category in categories %}
                    <li class="label-size label-colour"><a href="{{ url_for('main.filter_articles', category=category.name) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-meta">
            <author id="article-author">Author: {{ article.author.username }}</author>
            {% if source.title != "" %}
                <span> Source: {% if source.link != "" %}<a href="{{ source.link }}">{% endif %}{{ source.title }}</a> {% if source.author != "" %}by {{ source.author }}{% endif %}</span>
            {% endif %}
        </div>
        <!-- Article control panel -->
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab" tabindex="0">
                <a>Level</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><button id="easiest-level" type="button">Easiest</button></li>
                    <li><button id="hardest-level" type="button">Hardest</button></li>
                </ul>
            </li>
            <li class="dropdown-tab" tabindex="0">
                <a>Font Size</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><button id="font-size-small" type="button">Small</button></li>
                    <li><button id="font-size-medium" type="button">Medium</button></li>
                    <li><button id="font-size-large" type="button">Large</button></li>  
                </ul>
            </li>
            <li class="dropdown-tab dropdown-tab-right" tabindex="0">
                <a>Save or Print</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><button id="with-images" type="button">With Images</button></li>
                    <li><button id="without-images" type="button">Without Images</button></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Article body -->
    <div class="article-body">
    {% if paragraphs %}
        {% for paragraph in paragraphs %}
            <summary-paragraph>
                {% if paragraph['Image'] %}
                    <figure slot="slot-image" >
                        <img src="{{ paragraph['Image'].src }}" alt="{{ paragraph['Image'].alt }}"/>
                        {% if article_image.cite %}
                            <figcaption>{{ paragraph['Image'].cite | safe }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                {% if paragraph['Paragraph'].header %}
                    <h3 slot="slot-header">{{ paragraph['Paragraph'].header }}</h3>
                {% endif %}
                {% if summaries %}
                    {% for summary in summaries %}
                        {% if summary.paragraph_index == paragraph['Paragraph'].index %}
                            <p slot="slot-summary">{{ summary.text | safe }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </summary-paragraph>
        {% endfor %}
    {% endif %}
    </div> 
</article>
{% endblock %}