{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Author's Publishers</title>
    <meta name="description" content="A page to publish and delete articles written by my writers">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/general.css"/> 
    <link rel="stylesheet" href="/static/css/sitewide.css"/>  
    <link rel="stylesheet" href="/static/css/article-pages.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/javascript/header.js" defer></script>
    <script src="/static/javascript/display-articles.js" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="publisher-articles" class="full-spread">
        <ul id="publisher-navigation">
            <li><h1>Articles</h1></li>
            <li><a href="{{ url_for('publish.display_writers') }}">Writers</a></li>
            <li><a href="{{ url_for('publish.display_requests') }}">Requests</a></li>
        </ul>
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <button id="live-articles-tab" type="button" role="tab" aria-label="Live articles tab">Live</button>
            </li>            
            <li class="dropdown-tab dropdown-tab-right">
                <button id="pending-articles-tab" type="button" role="tab" aria-label="Reviewed articles tab">Under Review</button>
            </li>
        </ul>
        <section id="results-display-panel">
            <ul>
                {% if articles %}
                    {% for article in articles %}
                        <li class="label-colour result-display" data-status="{{ article['Article'].status }}" data-active="{{ article['PublishingNote'].is_active }}">
                            {% if article['Image'].src %}
                                <figure>
                                    <img src="{{ url_for('publish.return_image', filename=article['Image'].src) }}">
                                    <figcaption><h3>{{ article['Article'].title }}</h3></figcaption>
                                </figure>
                            {% else %}
                                <i class="no-image-icon far fa-image"></i>
                                <h3>{{ article['Article'].title }}</h3>
                            {% endif %}
                            <p>{{ article['Article'].description }}</p>
                            <i class="article-actions-icon fas fa-edit" tabindex="0" aria-label="Article actions menu">
                                <div class="article-actions-dropdown">
                                    <form class="article-action-edit" action="{{ url_for('publish.edit_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Edit</button>
                                    </form>
                                {% if article['Article'].status == 'pub_live' and article['PublishingNote'].is_active %}
                                    <form class="article-action-preview" action="{{ url_for('publish.view_article', id=article['PublishingNote'].id, slug=article['PublishingNote'].slug ) }}" method="post">
                                        <button type="submit" class="button grey-out">View</button>
                                    </form>
                                    <div class="article-action-link">
                                        <input type="hidden" name="pub-id" value="{{ article['PublishingNote'].id }}">
                                        <input type="hidden" name="article-slug" value="{{ article['PublishingNote'].slug }}">
                                        <button type="submit" class="button grey-out">Link</button>
                                    </div>
                                {% else %}
                                    <form class="article-action-preview" action="{{ url_for('publish.preview_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Preview</button>
                                    </form>
                                {% endif %}
                                {% if article['Article'].status in ('pending', 'pub_pending') %}
                                    <form class="article-action-publish" action="{{ url_for('publish.publish_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button action publish-article-button">Publish</button>
                                    </form>
                                    <form class="article-action-reject" action="{{ url_for('publish.reject_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button delete reject-article-button">Reject</button>
                                    </form>
                                {% endif %}
                                </div>
                            </i>
                            {% if article['Article'].status == 'pub_live' %}
                            <form class="article-action-delete" action="{{ url_for('publish.delete_article') }}" method="get">
                                <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                <button type="submit" class="button delete"><i class="far fa-trash-alt" aria-label="Delete article button"></i></button>
                            </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}
