/* Property order (https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685)
    - layout (position, display)
    - box model (outside-in)
    - visual (colour, background, border)
    - text
    - other */


/* || View Article || */

article.full-page {
    gap: 1rem;
    max-width: 60rem;
}
.article-header,
.article-body {
    width: 100%;
    max-width: 42rem;
    margin: auto;
}
.article-categories-list {
    display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    margin-bottom: 1rem;     
}
.article-meta {
    display: flex;
        flex-direction: column;
        gap: 0.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
}
.article-categories-list>li:hover {
    background: var(--foreground-dark);
}
.article-page img {
    border-radius: 10px;
}
summary-paragraph [slot="slot-header"] {
    margin: 0.5rem 0 0.5rem 1rem;
}

summary-paragraph [slot="slot-summary"] {
    margin: 1.5rem 0 1.5rem 0;
    padding: 1rem;
}


/* || Create Article || */

#article-form {
    gap: 2rem;
}
#article-form section {
    padding: 1rem;
}
#article-form h2 { 
    margin-bottom: 1rem;
}
.article-form-image {
    display: block;
    padding: 1rem 0;
    width: 75%;
    margin: auto;
}
.article-form-categories-controls {
    display: flex;
        justify-content: space-between;
}
#article-form-categories-selected {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    padding: 1rem;
}
#article-form-categories-selected>li {
    background: var(--foreground-dark);
}
paragraph-header,
paragraph-level {
    margin-top: -1rem; /*tighten up whitespace between content slots*/
}
.form-text {
    resize: vertical;
}
textarea.form-text-header {
    font-size: 1.4rem;
    height: 3.8rem;
}


/* || Display Articles || */

#admin-navigation,
#publisher-navigation {
    display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 2rem;
}
#create-article,
#add-user-by-email {
    display: none;
}
#articles-display-panel ul {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 2rem;
}
.article-display {
    position: relative;
    display: flex;
        flex-direction: column;
        align-items: center;
    height: max-content;
    padding: 1rem;
}
.article-display-none {
    display: none;
}
.status-published-writer,
.status-unpublished-writer,
.status-remove-publisher {
    flex-direction: row;
    justify-content: space-between;
}
.article-display img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 90%;
    border-radius: 10px;
}
.no-image-icon {
    margin: -1rem;
    margin-bottom: -0.5rem;
    color: var(--foreground-dark);
    font-size: 10rem;
}
.status-icon {
    position: absolute;
        top: -0.5rem;
        left: -0.5rem; 
    color: var(--contrast-light);
    font-size: 2rem;
}
.status-explanation {
    position: absolute;
        top: 0rem;
        left: 2.7rem;
    display: none;
    width: max-content;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.status-icon:hover .status-explanation {
    display: block;
}
.article-display h3 {
    text-align: center;
}
.article-display p {
    margin: 1rem 0 0.5rem 0;
    text-align: left;
}
.article-action-delete button {
    position: absolute;
        bottom: 0;
        right: 0;
    width: max-content;
    margin: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
}
.article-actions-icon {
    position: relative;
        align-self: flex-start;
    padding-right: 1rem;
    font-size: 2rem;
    color: var(--foreground-dark);
}
.article-actions-icon:hover {
    color: var(--contrast-light);
}
.article-actions-dropdown {
    display: none;
}
.article-actions-icon:hover .article-actions-dropdown {
    position: absolute;
        top: -5px;
        left: 2.5rem;
    display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
}
.no-results-icon {
    width: 100%;
    text-align: center;
    color: var(--foreground);
    font-size: 10rem;
}


/* || Print Article || */

@media print {
    #header-main,
    .dropdown-panel,
    .article-categories-list {
        display: none;
    }
    img {
        display: block;
        max-width: 300px;
        height: auto;
        margin: auto; 
    }

}

