/* Property order (https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685)
    - layout (position, display)
    - box model (outside-in)
    - visual (colour, background, border)
    - text
    - other */


/* || View Article || */

.article-page {
    gap: 1rem;
    max-width: 60rem;
    padding: 0 1rem;
}
.article-header {
    width: 100%;
    max-width: 42rem;
    margin: auto;
}
.article-categories-list {
    display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;        
}
.article-meta {
    display: flex;
        flex-direction: column;
        gap: 0.5rem;
    margin: 1rem 0;
}
#article-form-categories-selected>li {
    background: #DDD;
}
.article-categories-list>li:hover {
    background: #DDD;
}
    
/* - Font size */
.small-font .article-text p {
    font-size: 1.1rem;
    line-height: 1.4rem;
}
.medium-font .article-text p {
    font-size: 1.2rem;
    line-height: 1.6rem;
}
.large-font .article-text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}


/* || Create Article || */

#article-form {
    display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 1rem;
}
#article-form section {
    padding: 1rem;
}
#article-form h2 { 
    margin: 0;
    margin-bottom: 1rem;
}
.form-text {
    resize: vertical;
}
textarea.form-text-header {
    font-size: 1.4rem;
    height: 3.8rem;
}
.article-form-image {
    display: block;
    padding: 1rem 0;
    width: 75%;
    margin: auto;
}
.article-form-categories-controls {
    display: flex;
        justify-content: space-between;
}
#article-form-categories-selected {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    padding: 1rem;
}
paragraph-header,
paragraph-level {
    margin-top: -1rem; /*tighten up whitespace between content slots*/
}
#submit-form-button {
    position: fixed;
        bottom: 2rem;
        right: 2rem;
    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.4);
}



/* ||  Articles Display || */

.articles-display-panel ul {
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 2rem;
}
.article-display {
    display: flex;
        flex-direction: column;
        align-items: center;
    height: max-content;
    padding: 1rem;
}
.article-display img {
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 10px;
}
.article-display i {
    margin: -1rem;
    color: #DDD;
    font-size: 10rem;
}
.article-display h3 {
    margin-top: 1rem;
    text-align: center;
}
.article-display p {
    margin-bottom: 0;
    text-align: left;
}
.article-display button {
    width: 100%;
}
.article-actions {
    display: grid;
        grid-template-columns: 1fr 1fr;
    width: 100%;
}
.article-preview button {
    width: 100%;
}
#add-article-button {
    margin: auto;
}
#add-article-button i {
    color: #EEE;
    font-size: 15rem;
    cursor: pointer;
}
#add-article-button i:hover {
    color: #DDD;
}