/* Property order (https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685)
    - layout (position, display)
    - box model (outside-in)
    - visual (colour, background, border)
    - text
    - other */


/* || Base reset ||  */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



/* || General Styles || */

    html {
        font-size: 100%;
    }
    body, 
    input, 
    textarea, 
    button {
        background-color: #fbfdfe;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p {
        margin-bottom: 1.5rem;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        font-weight: bolder;
    }
    ul {
        list-style: none;
    }
    label {
        font-size: 1.1rem;
    }
    input,
    select,
    textarea {
        width: 100%;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
    }



/* || Utility classes || */

    /* Page */
    .full-spread {
        display: flex;
            flex-direction: column;
            gap: 2rem;
        min-width: 10rem;
        max-width: 80vw;
        margin: 6rem auto;
    }
    .full-page {
        display: flex;
            flex-direction: column;
            gap: 2rem;
        min-width: 10rem;
        max-width: 49rem;
        margin: 6rem auto;
    }
    .full-page section {
        padding: 1rem;
    }
    .small-page {
        min-width: 10rem;
        max-width: 30rem;
        margin: 6rem auto;
    }
    /* General */
    .label-size {
        width: max-content;
        margin: 0.2rem 0.1rem;
        padding: 0.3rem 0.6rem;
        font-size: 1rem;
    }
    .label-colour {
        background: #EEE;
        border-radius: 10px;
    }
    .hidden {
        visibility: hidden;
    }

    /* Buttons */
    .button {
        width: max-content;
        height: max-content;
        padding: 0.4rem 0.8rem;
        border: 1px solid #DDD;
        border-radius: 10px;
        font-size: 1.1rem;
        cursor: pointer;
    }
    .big-button {
        margin: 0rem auto;
        padding: 0.8rem 1.2rem;
        font-size: 1.5rem;
        background: #EEE;
        border: 2px solid #EEE;
        border-radius: 10px;
        font-size: 1.3rem;
    }
    .big-button:hover {
        background: #DDD;
    }
    .grey-out {
        color: #DDD;
    }
    .grey-out:hover {
        color: black;
    }
    .action {
        color: #DDD;
    }
    .action:hover {
        color: green;
    }
    .delete {
        color: #DDD;        
    }
    .delete:hover {
        color: red;
    }
    .big-add-button {
        margin: auto;
        color: #EEE;
        font-size: 15rem;
        cursor: pointer;
    }
    .big-add-button:hover {
        color: #DDD;
    }
    .no-results-icon {
        width: 100%;
        text-align: center;
        color: #EEE;
        font-size: 10rem;
    }
    

    /* Dropdown */
    .dropdown-panel {
        display: flex;
        font-size: 1.2rem;
    }
    .dropdown-tab {
        padding: 0.6rem 1rem;
    }
    .dropdown-tab-right {
        position: relative;
        margin-left: auto;
    }
    .dropdown-tab-right ul {
        right: 0;
        width: max-content;
        text-align: right;
    }
    .dropdown-tab-dropdown {
        position: absolute;
        display: none;
        margin-top: 0.6rem;
        margin-left: -1rem;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
        z-index: 1;
    }
    .dropdown-tab:hover .dropdown-tab-dropdown {
        display: block;
    }
    .dropdown-tab-dropdown>li {
        padding: 0.3rem 1rem;
    }
    .dropdown-tab-active,
    .dropdown-tab:hover,
    .dropdown-tab-dropdown>li:hover {
        background: #DDD;
        border-radius: 10px;
    }


    /* Flashed messages */
    .alert {
        position: fixed;
            bottom: 2rem;
            right: 2rem;
        display: flex;
            align-items: center;
        
        margin: auto;
        margin-left: 1rem;
        padding: 0.4rem 0.8rem;
        border-radius: 10px;
        font-size: 1.3rem;
        text-align: center;
        z-index: 1;
    }
    .alert a {
        margin-left: 0.3rem; /* compensate for flash message trimming */ 
        text-decoration: underline;
    }
    .form-alert {
        padding: 0.5rem;
        border-radius: 10px;
    }
    .alert-success { 
        background: #def0d8;
        border: 1px solid #567c526b;
        color: #567c52;
    }
    .alert-info {
        color: #31708f;
        background: #d9edf7;
        border: 1px solid #c3e9f2;
    }
    /* .alert-warning {
        color: #e6dac9;
        background: #fbfae3;
        border: 1px solid #e6dac96b;
    } */
    .alert-error {
        color: #9a4141;
        background: #f3dbdb;
        border: 1px solid #9a41416b;
    }
    .close-message {
        color: inherit;
        background: inherit;
        border: none;
        margin-left: 1rem;
        font-size: 1.3rem;
    }



/* || Responsive design || */

    /* - large portrait  
            - show brand name */

    @media (min-width: 17.5rem) {
        #brand-name {
            display: inline-block;
        }
    }

    /* - small landscape 
            - Expand navigation
            - Reposition flashed messages*/
            
    @media (min-width: 50rem) {
        .full-spread,
        .full-page,
        .small-page {
            margin: 7rem auto;
        }
        #header-nav {
            align-self: center;
        }
        #header-nav-list {
            display: flex;
                flex-direction: row;
                gap: 2rem;
            margin: 0;
        }
        #header-nav-icon {
            font-size: 0; /* hide icon */
        }
    }