/* Property order (https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685)
    - layout (position, display)
    - box model (outside-in)
    - visual (colour, background, border)
    - text
    - other */


#index-page h3,
#filter-articles-page h3 {
    margin: 1rem;
}
#index-page a,
#filter-articles-page a {
    font-weight: normal;
}
#index-page a:hover li,
#filter-articles-page a:hover li {
    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.4);
}
#demo [slot="slot-summary"] {
    margin: 0;
}

#articles-filter {
    display: flex;
        gap: 1rem;
}
#articles-filter div {
    flex: 1;
    padding: 1rem;
}


/* || Contact Page || */

.contact-form {
    display: flex;
        flex-direction: column;
    padding: 1rem;
}
.contact-form div {
    position: relative;
}
#contact-page p {
    margin-bottom: 1rem;
}
#contact-page #submit {
    margin-top: 1rem;
}
textarea {
    resize: vertical;
}


/* || Error Pages || */

#error-page section {
    padding: 2rem;
}
#error-page h3 {
    margin-bottom: 1rem;
}
#error-page p {
    margin-bottom: 1rem;
}
#error-page p>a {
    text-decoration: underline;
}
#error-page ul {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    list-style: inside;
}


/* || Responsive design || */

/* Tablet and larger  */

@media (min-width: 48rem) {
    #contact-page #submit {
        margin-top: 2rem;
    }
}