/* Property order (https://webdesign.tutsplus.com/articles/outside-in-ordering-css-properties-by-importance--cms-21685)
    - layout (position, display)
    - box model (outside-in)
    - visual (colour, background, border)
    - text
    - other */


/* || Header Navigation || */

#header-main {
    position: fixed;
        top: 0;
    display: flex;
        justify-content: space-between;
        align-items: flex-start;
    width: 100%;
    padding: 1rem 1.5rem;
    background: var(--background);
    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.8);
    z-index: 2;
    overflow: hidden;  
}
#brand-logo {
    float: left;
    width: max-content;
    font-size: 2.1rem;
    font-weight: 730;  
}
#brand-name {
    display: none;
    float: left;
    width: max-content;
    margin-left: 5px;
    font-size: 1.8rem;
}
#header-nav {
    display: flex;
        flex-direction: column;
        align-items: flex-end;
}
#header-nav-icon {
    border: none;
}
#header-nav-list {
    display: none;
    align-items: flex-end;
    margin-top: 1rem;
}
#header-nav-list a {
    color: var(--contrast-dark);
    font-size: 1.4rem;
    font-weight: 730;
    line-height: 2rem;
}
.display-menu #header-nav-list {
    display: flex;
        flex-direction: column;
}
#header-nav-icon {
    font-size: 2.2rem;
}


/* || Consent Modal || */

#consent-modal {
    position: fixed;
        bottom: 1rem;
    margin: 0 1rem;
    padding: 1rem;
    background: var(--foreground-dark);
    border-radius: 10px;
    box-shadow: 0 0px 12px 0 rgba(0,0,0,0.4);
    text-align: center;
    z-index: 1;
}
#consent-modal p {
    margin: 1rem auto;
    font-size: 1rem;
}
#consent-modal a {
    text-decoration: underline;
}
#consent-actions {
    display: flex;
        gap: 0.5rem;
}
#consent-actions button {
    flex: 1;
}


/* || Page Layout || */

.full-spread {
    display: flex;
        flex-direction: column;
        gap: 1rem;
    min-height: calc(100vh - 11rem); /* for footer on short pages */
    min-width: 10rem;
    max-width: 80vw;
    margin: 6rem auto 3rem auto;
}
.full-page {
    display: flex;
        flex-direction: column;
        gap: 1rem;
    height: 100%;
    min-height: calc(100vh - 11rem); /* for footer on short pages*/
    min-width: 10rem;
    max-width: 49rem;
    margin: 6rem auto 3rem auto;
    padding: 0 2rem;
}
.full-page section {
    padding: 1rem;
}


/* || Footer || */

footer {
    width: 100%;
    padding: 1rem 2rem;
    background: var(--foreground);
}
footer ul {
    text-align: right;
}


/* || Responsive design || */

/* Extra-small */

@media (min-width: 17.5rem) {
    #brand-name {
        display: inline-block;
    }
}

/* Tablet and larger  */

@media (min-width: 48rem) {
    #header-nav {
        align-self: center;
    }
    #header-nav-list {
        display: flex;
            flex-direction: row;
            gap: 2rem;
        margin: 0;
    }
    #header-nav-icon {
        display: none;
    }
    .full-spread,
    .full-page {
        gap: 2rem;
        min-height: calc(100vh - 13rem); /* for footer on short pages*/
        margin: 7rem auto 4rem auto;
    }
    .full-page {
        padding: 0 3rem;
    }
    #consent-modal {
        bottom: 2rem;
        right: 2rem;
        width: 40vw;
        min-width: 15rem;
    }
}

