{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Page Not Found</title>
    <meta name="description" content="It seems like we can't find that page">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/misc-pages.css') }}"/> 
{% endblock %}

<!-- JavaScript --> 
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="error-page" class="full-page">
        <h1>Page Not Found</h1>            
        <p>Hmmm...it seems that we can't find the page you're looking for.</p>
        <section class="label-colour">
            <p>Please check that you typed the address correctly. Alternatively, check out the following pages:</p>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Homepage</a></li>
                <li><a href="{{ url_for('main.about') }}">Learn about Easy Read</a></li>
                <li><a href="{{ url_for('main.filter_articles') }}">See all articles</a></li>
            </ul>
            <p>If you can't find what you're looking for, perhaps <a href="{{ url_for('main.contact') }}">send us a message</a>.</p>
        </section>
    </div>
{% endblock %}