{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Internal Server Error</title>
    <meta name="description" content="It seems like something went wrong">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/misc-pages.css') }}"/> 
{% endblock %}

<!-- JavaScript --> 
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="error-page" class="full-page">
        <h1>Internal Server Error</h1>
        <p>Hmmm...it seems like something went wrong.</p>
        <section class="label-colour">
            <p>We have reported this error to the administrator.</p>
            <p>If you need help quickly, please feel free to <a href="{{ url_for('main.contact') }}">contact us</a>.</p>
        </section>
    </div>
{% endblock %}