<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>

    <meta name="description" content="An easy way to read hard articles. Simply click to summarise">
    <!-- Add in other rich data -->

    <!-- Icons and fonts -->
    <script src="https://kit.fontawesome.com/ab4f2900b6.js" crossorigin="anonymous"></script>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    
    <!-- JavaScript --> 
    <script src="/static/easy-read-header.js" ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/easy-read.css" /> 
</html>
<body>
    <div id="page">
        <h1>Welcome to Easy Read</h1>
        
    </div>
</body>