{% extends "easy-read-layout.html" %}

<!-- Page metadata -->
{% block description %}
    <meta name="description" content="A page with which to post progressively summarised content">
{% endblock %}

<!-- Scripts -->
{% block scripts %}
    <script src="/static/easy-read-header.js" defer></script>
    <script src="/static/easy-read-create-components.js"></script> 
    <script src="/static/easy-read-cms.js" defer></script> <!-- deferred to allow custom element attribute to be read -->    
{% endblock %}

<!-- Main -->
{% block main %}
    <form id="article-form" action="/create-article" method="post" autocomplete="off">
        <h1>Create Article</h1>
        <section id="article-form-source" class="label-colour">
            <h2>Source data</h2>
            <!-- Article Source Data -->
            {% if source is not none %}
                <label for="article-form-source-name">Source name:<input type="text" name="article-form-source-name" id="article-form-source-name" value="{{ source['name'] }}"/></label>
                <label for="article-form-source-author">Source author:<input type="text" name="article-form-source-author" id="article-form-source-author" value="{{ source['author'] }}"/></label>
                <label for="article-form-source-title">Source title:<input type="text" name="article-form-source-title" id="article-form-source-title" value="{{ source['title'] }}"/></label>
                <label for="article-form-source-contact">Source contact:<input type="text" name="article-form-source-contact" id="article-form-source-contact" value="{{ source['contact'] }}"/></label>
                <label for="article-form-source-hyperlink">Source link:<input type="text"name="article-form-source-hyperlink" id="article-form-source-hyperlink" value="{{ source['hyperlink'] }}"/></label> 
            {% else %}
                <label for="article-form-source-name">Source name:<input type="text" name="article-form-source-name" id="article-form-source-name"/></label>
                <label for="article-form-source-author">Source author:<input type="text" name="article-form-source-author" id="article-form-source-author"/></label>
                <label for="article-form-source-title">Source title:<input type="text" name="article-form-source-title" id="article-form-source-title"/></label>
                <label for="article-form-source-contact">Source contact:<input type="text" name="article-form-source-contact" id="article-form-source-contact"/></label>
                <label for="article-form-source-hyperlink">Source link:<input type="text" name="article-form-source-hyperlink" id="article-form-source-hyperlink"/></label>
            {% endif %}
        </section>
        <section id="article-form-meta" class="label-colour">
            <h2>Article data</h2>
            <!-- Article Image -->
            {% if article_image is not none %}
                <article-image>
                    <img slot="slot-article-image" class="article-form-image" src="{{ article_image['src'] }}">
                    <input slot="slot-article-image-alt" value="{{ article_image['alt'] }}">
                    <input type="hidden" name="article-image-id" value="{{ article_image['id'] }}">
                </article-image>
            {% else %}
                <article-image></article-image>
            {% endif %}
            </label>
            <!-- Article data -->
            {% if article is not none %}
                <label for="article-form-title">Article title:<input type="text" name="article-form-title" id="article-form-title" value="{{ article['title'] }}" required/></label>
                <label for="article-form-description">Article description:<input type="text" name="article-form-description" id="article-form-description" value="{{ article['description'] }}" required/></label>
            {% else %}
                <label for="article-form-title">Article title:<input type="text" name="article-form-title" id="article-form-title" required/></label>
                <label for="article-form-description">Article description:<input type="text" name="article-form-description" id="article-form-description" required/></label>
            {% endif %}
            <label for="article-form-categories">Categories:
                <input list="article-form-categories-input"> 
                <datalist id="article-form-categories-input"> 
                    <option value="Technology"></option>
                    <option value="Science"></option>
                    <option value="Nature"></option>
                    <option value="Culture"></option>
                    <option value="Language"></option>
                </datalist>
                <div class="article-form-categories-controls">
                    <button type="button" id="article-form-add-category-button" class="button">Add Category</button>
                    <button type="button" id="article-form-del-category-button" class="button delete">Delete Category</button>
                </div>
                <ul id="article-form-categories-selected">
                <!-- Article Categories -->
                {% if categories is not none %} 
                    {% for category in categories %}   
                        <li class="label-size label-colour">{{ category['category'] }}</li>
                        <input type="hidden" name="article-form-categories-selected" value="{{ category['category'] }}">
                    {% endfor %}
                {% endif %}
                </ul>
            </label>
        </section>
        <section class="label-colour">
            <article-content>
            <!-- Article Content -->
            {% if paragraphs is not none %}
                <!-- Paragraphs -->
                {% for paragraph in paragraphs %}
                    <article-paragraph slot="slot-article-paragraphs" data-paragraph-index="{{ paragraph['paragraph_id'] }}">
                    <!-- Image -->
                    {% if paragraph_images is not none %}
                        {% for image in paragraph_images %}
                            {% if image['id'] == paragraph['image_id'] %}
                                <paragraph-image slot="slot-paragraph-image" data-paragraph-index="{{ paragraph['paragraph_id'] }}"/>
                                    <img slot="slot-paragraph-image-src" class="article-form-image" src="{{ image['src'] }}"/>
                                    <input slot="slot-paragraph-image-alt" value="{{ image['alt'] }}"/>
                                    <input type="hidden" name="paragraph-{{ paragraph['paragraph_id'] }}-image-id" value="{{ image['id'] }}"/>
                                </paragraph-image>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <!-- Header -->
                    {% if paragraph['header'] is not none %}
                        <paragraph-header slot="slot-paragraph-header" data-paragraph-index="{{ paragraph['paragraph_id'] }}">
                            <textarea slot="slot-header-text" name="paragraph-{{ paragraph['paragraph_id'] }}-header" class="form-text form-text-header">{{ paragraph['header'] }}</textarea>
                        </paragraph-header>
                    {% endif %}
                    <!-- Levels -->
                    {% if levels is not none %}
                        {% for level in levels %}
                            {% if level['paragraph_id'] == paragraph['paragraph_id'] %}
                                <paragraph-level slot="slot-paragraph-levels" data-level-index="{{ level['level'] }}">
                                    <textarea slot="slot-level-text" name="paragraph-{{ paragraph['paragraph_id'] }}-level-{{ level['level'] }}">{{ level['content'] }}</textarea>
                                </paragraph-level>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </article-paragraph>
                {% endfor %}
            {% endif %}
            </article-content>   
            <button type="button" id="add-paragraph">Add Paragraph</button>
        </section>
        <button type="submit" id="submit-form-button" class="button big-button">Create Article</button>
    </form>
{% endblock %}