{% extends "easy-read-layout.html" %}

<!-- Page metadata -->
{% block description %}
    <meta name="description" content="">
{% endblock %}

<!-- Stylesheets -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/easy-read-navigation.css"/>  
    <link rel="stylesheet" href="/static/easy-read-general.css"/> 
    <link rel="stylesheet" href="/static/easy-read-article.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/easy-read-header.js"></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div><p>Hello, World</p></div>
{% endblock %}