{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Admin's Articles</title>
    <meta name="description" content="An administration page to transfer articles between publishers">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/navigation.css"/>  
    <link rel="stylesheet" href="/static/css/general.css"/> 
    <link rel="stylesheet" href="/static/css/article.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/javascript/header.js" defer></script>
    <script src="/static/javascript/display-articles.js" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="admin-articles" class="full-spread">
        <ul id="admin-navigation">
            <li><h1>Articles</h1></li>
            <li><a href="{{ url_for('main.display_publishers') }}">Publishers</a></li>
        </ul>
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <a id="published-live-tab">Live</a>
            </li>            
            <li class="dropdown-tab dropdown-tab-right">
                <a id="published-deleted-tab">Deleted</a>
            </li>
        </ul>
        <section id="articles-display-panel">
            <ul>
                {% if articles %}
                    {% for article in articles %}
                        <li class="label-colour article-display status-{{ article['Article'].status }}">
                            {% if article['Image'].src %}
                                <figure>
                                    <img src="{{ url_for('main.return_image', filename=article['Image'].src) }}">
                                    <figcaption><h3>{{ article['Article'].title }}</h3></figcaption>
                                </figure>
                            {% else %}
                                <i class="no-image-icon far fa-image"></i>
                                <h3>{{ article['Article'].title }}</h3>
                            {% endif %}
                            <p>{{ article['Article'].description }}</p>
                            <form class="article-action-delete" action="{{ url_for('main.permadelete_article') }}" method="get">
                                <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                <button type="submit" class="button delete"><i class="far fa-trash-alt"></i></button>
                            </form>
                            <i class="article-actions-icon fas fa-edit">
                                <div class="article-actions-dropdown">
                                    <form class="article-action-edit" action="{{ url_for('main.edit_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Edit</button>
                                    </form>
                                    <form class="article-action-preview" action="{{ url_for('main.view_article', id=article['PublishingNote'].id, slug=article['PublishingNote'].slug ) }}" method="post">
                                        <button type="submit" class="button grey-out">View</button>
                                    </form>
                                {% if article['Article'].status == 'pub_live' %}
                                    <!-- Reappend preview as live after route created -->
                                    <div class="article-action-link">
                                        <input type="hidden" name="pub-id" value="{{ article['PublishingNote'].id }}">
                                        <input type="hidden" name="article-slug" value="{{ article['PublishingNote'].slug }}">
                                        <button type="submit" class="button grey-out">Link</button>
                                    </div>
                                {% elif article['Article'].status == 'pub_deleted' %}
                                    <form class="article-action-transfer" action="{{ url_for('main.transfer_article') }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="article_id" value="{{ article['Article'].id }}">
                                        <button type="button" class="button action">Transfer</button>
                                    </form>
                                {% endif %}
                                </div>
                            </i>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}