{% extends "layout.html" %}

<!-- Page metadata -->
{% block description %}
    <meta name="description" content="">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/navigation.css"/>  
    <link rel="stylesheet" href="/static/css/general.css"/> 
    <link rel="stylesheet" href="/static/css/article.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/javascript/header.js" defer></script>
    <script src="/static/javascript/display-articles.js" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="author-articles" class="full-spread">
        <h1>My Articles</h1>
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <a id="draft-articles-tab">Drafts</a>
            </li>
            <li class="dropdown-tab dropdown-tab-right">
                <a id="published-articles-tab">Published</a>
            </li>
        </ul>
        <section id="articles-display-panel">
            <ul>
                {% if articles %}
                    {% for article in articles %}
                        <li class="label-colour article-display status-{{ article['Article'].status }}">
                            {% if article['Image'].src %}
                                <figure>
                                    <img src="{{ article['Image'].src }}">
                                    <figcaption><h3>{{ article['Article'].title }}</h3></figcaption>
                                </figure>
                            {% else %}
                                <i class="no-image-icon far fa-image"></i>
                                <h3>{{ article['Article'].title }}</h3>
                            {% endif %}
                            <p>{{ article['Article'].description }}</p>
                            <div class="article-actions">
                                <form class="article-action-edit" action="{{ url_for('main.edit_article') }}" method="get">
                                    <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                    <input type="hidden" name="user-route" value="author-articles">
                                    <button type="submit" class="button grey-out">Edit</button></a>
                                </form>
                                {% if article['Article'].status == 'published' %}
                                    <form class="article-action-preview" action="{{ url_for('main.view_article', id=article['PublishingNote'].id, slug=article['PublishingNote'].slug ) }}" method="post">
                                        <button type="submit" class="button grey-out">View</button>
                                    </form>
                                    <div class="article-action-link">
                                        <input type="hidden" name="pub-id" value="{{ article['PublishingNote'].id }}">
                                        <input type="hidden" name="article-link" value="{{ article['PublishingNote'].slug }}">
                                        <button type="submit" class="button grey-out">Link</button>
                                    </div>
                                {% else %}
                                    <form class="article-action-preview" action="{{ url_for('main.preview_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Preview</button>
                                    </form>
                                    <form class="article-action-request" action="{{ url_for('main.request_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Publish</button>
                                    </form>
                                {% endif %}
                                <form class="article-action-delete" action="{{ url_for('main.delete_article') }}" method="get">
                                    <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                    <button type="submit" class="button delete">Delete</button>
                                </form>
                                {% if article['Article'].status in ('pub_draft', 'pub_requested') %}
                                    <form class="article-action-update" action="{{ url_for('main.update_article') }}" method="get">
                                        <input type="hidden" name="article-id" value="{{ article['Article'].id }}">
                                        <button type="submit" class="button grey-out">Update</button>
                                    </form>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
                <form id="create-article" action="{{ url_for('main.create_article') }}" method="get">
                </form>
            </ul>
        </section>
    </div>
{% endblock %}