{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>An Easy Read | Contact Us</title>
    <meta name="description" content="Get in touch with us at An Easy Read and let us answer any questions you may have">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sitewide.css') }}"/>  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/misc-pages.css') }}"/>
{% endblock %}

<!-- JavaScript --> 
{% block scripts %}
    <script src="{{ url_for('static', filename='javascript/header.js') }}" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="contact-page" class="full-page">
        <h1>Contact Us</h1>
        <p>Have a question or comment? We'd love to hear from you. Just send us a message using the form below.</p>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="contact-form label-colour">
                <div>
                    <!-- Name -->
                    {{ form.name.label }}
                    {{ form.name(placeholder='Your name..', autocomplete="off", autofocus=True) }}
                    {% for error in form.name.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <!-- Email -->
                    {{ form.email.label }}
                    {{ form.email(placeholder='Your email address..', autocomplete="off") }}
                    {% for error in form.email.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <!-- Subject -->
                    {{ form.subject.label }}
                    {{ form.subject(placeholder='What your message is about..', autocomplete="off") }}
                    {% for error in form.subject.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <div>
                    <!-- Message Body -->
                    {{ form.message.label }}
                    {{ form.message(placeholder='Write your message here..', autocomplete="off") }}
                    {% for error in form.message.errors %}
                        <span class="form-alert alert-error">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
                {{ form.submit(class="label-colour big-button") }}
        </form>
    </div>
{% endblock %}