<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>

    {% block description %}{% endblock %}

    <!-- Add in other rich data -->

    <!-- Icons and fonts -->
    <script src="https://kit.fontawesome.com/ab4f2900b6.js" crossorigin="anonymous"></script>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <!-- CSS -->
    {% block stylesheets%}{% endblock %}
    
    <!-- JavaScript --> 
    {% block scripts %}{% endblock %}
    
</html>
<body>
    <header id="header-main">
        <div id=header-brand>
            <a href="{{ url_for('index') }}" id="brand-logo">
                <i class="fas fa-book-open"></i> 
            </a>
            <h1 id="brand-name">
                <a href="{{ url_for('index') }}">Easy Read</a>
            </h1>
        </div>
        <nav id="header-nav">
            <i id="header-nav-icon" class="fas fa-bars"></i>
            <ul id="header-nav-list">    
                {% if session.user %}
                <li><a class="nav-link" href="{{ url_for('author-article') }}">Write</a></li>
                <li><a class="nav-link" href="">Read</a></li>                
                <li><a class="nav-link" href="">About</a></li>
                <li><a class="nav-link" href="">Contact</a></li>
                <li><a class="nav-link" href="{{ url_for('logout') }}">Log out</a></li>
                {% else %}
                <li><a class="nav-link" href="">Read</a></li>
                <li><a class="nav-link" href="">About</a></li>
                <li><a class="nav-link" href="">Contact</a></li>
                <li><a class="nav-link" href="{{ url_for('login') }}">Log in</a></li>
                {% endif %}
            </ul> 
        </nav>   
    </header>
    <main>

        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message | safe }}
                    <button type="button" class="close-message"><span>&times;</span></button>
                </div>                
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Main -->
        {% block main %}{% endblock %}
    </main>  
</body>