{% extends "easy-read-layout.html" %}

<!-- Page metadata -->
{% block description %}
    <meta name="description" content="">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/easy-read-navigation.css"/>  
    <link rel="stylesheet" href="/static/easy-read-general.css"/> 
    <link rel="stylesheet" href="/static/easy-read-article.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/easy-read-header.js" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div class="full-spread">
        <h1>My Articles</h1>
        <section id="author-articles" class="articles-display-pannel">
            <ul>
                {% if articles is not none %}
                    {% for article in articles %}
                    <li class="label-colour article-preview">
                        {% if article.src %}
                            <figure>
                                <img src="{{ article.src }}">
                                <figcaption><h3>{{ article.title }}</h3></figcaption>
                            </figure>
                        {% else %}
                            <i class="far fa-image"></i>
                            <h3>{{ article.title }}</h3>
                        {% endif %}
                        <p>{{ article.description }}</p>
                        <form action="{{ url_for('main.edit_article') }}" method="get">
                            <input type="hidden" name="article-id" value="{{ article.id }}">
                            <button type="submit" class="button grey-out edit-article-button">Edit Article</button></a>
                        </form>
                        <form action="">
                            <input type="hidden" value="{{ article.id }}">
                            <button type="submit" class="button grey-out edit-article-button">Publish Article</button>
                        </form>
                    </li>
                    {% endfor %}
                {% endif %}
                <a id="add-article-button" href="{{ url_for('main.create_article') }}""><i class="far fa-plus-square"></i></a>
            </ul>
        </section>
    </div>
{% endblock %}