{% extends "easy-read-layout.html" %}

<!-- Page metadata -->
{% block description %}
    <meta name="description" content="">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/easy-read-navigation.css"/>  
    <link rel="stylesheet" href="/static/easy-read-general.css"/> 
    <link rel="stylesheet" href="/static/easy-read-article.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/easy-read-header.js" defer></script>
    <script src="/static/easy-read-cms.js" defer></script>    
    <script src="/static/easy-read-create-components.js"></script> 
{% endblock %}

<!-- Main -->
{% block main %}    
    <form id="article-form" class="full-page" action="" method="post" autocomplete="off" novalidate>
        {{ form.hidden_tag() }}
        <h1>Create Article</h1>
        <section id="article-form-meta" class="label-colour">
            <h2>Article Data</h2>
            <!-- Article data -->
            {% if article %}
                {{ form.article_title.label }} {{ form.article_title(value=article.title) }}
                {{ form.article_desc.label }} {{ form.article_desc(value=article.description) }}
            {% else %}
                {{ form.article_title.label }} {{ form.article_title }}
                {{ form.article_desc.label }} {{ form.article_desc }}
            {% endif %}
        </section>
        <section id="article-form-source" class="label-colour">
            <h2>Source Data</h2>
            <!-- Article Source Data -->
            {% if source %}
                {{ form.source_title.label }} {{ form.source_title(value=source.title) }}
                {{ form.source_author.label }} {{ form.source_author(value=source.author) }}
                {{ form.source_link.label }} {{ form.source_link(value=source.link) }}
                {{ form.source_name.label }} {{ form.source_name(value=source.name) }}
                {{ form.source_contact.label }} {{ form.source_contact(value=source.contact) }}
            {% else %}
                {{ form.source_title.label }} {{ form.source_title }}
                {{ form.source_author.label }} {{ form.source_author }}
                {{ form.source_link.label }} {{ form.source_link }}
                {{ form.source_name.label }} {{ form.source_name }}
                {{ form.source_contact.label }} {{ form.source_contact }}
            {% endif %}
            </section>   
        {{ form.submit(class="button big-button") }}    
    </form>
{% endblock %}