<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale=1>

    <!-- Page meta data -->
    {% block pagemeta %}{% endblock %}

    <!-- Add in other rich data -->

    <!-- Icons and fonts -->
    <link rel="icon" href="/static/images/book-open-solid.svg">  <!-- Favicon -->
    <script src="https://kit.fontawesome.com/ab4f2900b6.js" crossorigin="anonymous"></script>  <!-- Fontawesome icons -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- Google fonts -->

    <!-- CSS -->
    {% block stylesheets%}{% endblock %}
    
    <!-- JavaScript --> 
    {% block scripts %}{% endblock %}
    
</html>
<body>
    <header id="header-main">
        <div id=header-brand>
            <a href="{{ url_for('main.index') }}" id="brand-logo">
                <i class="fas fa-book-open"></i> 
            </a>
            <h1 id="brand-name">
                <a href="{{ url_for('main.index') }}">Easy Read</a>
            </h1>
        </div>
        <nav id="header-nav">
            <i id="header-nav-icon" class="fas fa-bars"></i>
            <ul id="header-nav-list">
                {% if current_user.is_publisher %}
                <li><a href="{{ url_for('publish.display_publisher_articles') }}">Publish</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('publish.display_author_articles') }}">Write</a></li>
                {% endif %}
                <li><a href="{{ url_for('main.filter_articles') }}">Read</a></li>                
                <li><a href="{{ url_for('main.about') }}">About</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
                {% endif %}
            </ul> 
        </nav>   
    </header>
    <main>

        <!-- Flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message | safe }}
                    <button type="button" class="close-message"><span>&times;</span></button>
                </div>                
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Main -->
        {% block main %}{% endblock %}
    </main>
    <footer>
        <ul>
            <li><a href="">Sitemap</a></li>
            <li><a href="{{ url_for('main.terms_and_conditions')}}">Terms and Conditions</a></li>
            <li><a href="{{ url_for('main.privacy_policy')}}">Privacy Policy</a></li>
            <li><a href="{{ url_for('main.contact')}}">Contact</a></li>
        </ul>
    </footer>
</body>