{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Preview article</title>
    <meta name="description" content="See what an article will look like once published">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/general.css"/> 
    <link rel="stylesheet" href="/static/css/sitewide.css"/>  
    <link rel="stylesheet" href="/static/css/article-pages.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/javascript/header.js" defer></script>
    <script src="/static/javascript/view-article-control.js" defer></script>
    <script src="/static/javascript/view-article-components.js"></script> 
{% endblock %}

<!-- Main -->
{% block main %}
<article class="full-page">
    <!-- Article Main Image -->
    {% if article_image %}
        <figure>
            <img src="{{ url_for('main.return_image', filename=article_image.src) }}" alt="{{ article_image.alt }}"/>
            {% if article_image.cite %}
                <figcaption>{{ article_image.cite | safe }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
    <!-- Article header -->
    <div class="article-header">
        {% if categories %}
            <ul class="article-categories-list">
                {% for category in categories %}
                    <li class="label-size label-colour"><a href="{{ url_for('main.filter_articles', category=category.name) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-meta">
            <author id="article-author">Author: {{ article.author.username }}</author>
            <time id="article-date-published">Published: {{ article.date_published }}</time>
            {% if article.date_updated %}
            <time id="article-date-updated">Updated: {{ article.date_updated }}</time>
            {% endif %}
            {% if article.date_updated %}
            <span id="original-artile"> Source: <a href="{{ source.link }}">{{ source.title }}</a></span>
            {% endif %}
        </div>
        <!-- Article control panel -->
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <a>Level</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><a id="easiest-level">Easiest</a></li>
                    <li><a id="hardest-level">Hardest</a></li>
                </ul>
            </li>
            <li class="dropdown-tab">
                <a>Font Size</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><a id="font-size-small">Small</a></li>
                    <li><a id="font-size-medium">Medium</a></li>
                    <li><a id="font-size-large">Large</a></li>
                </ul>
            </li>
            <li class="dropdown-tab dropdown-tab-right">
                <a>Save or Print</a>
                <ul class="dropdown-tab-dropdown label-colour">
                    <li><a id="with-images">With Images</a></li>
                    <li><a id="without-images">Without Images</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Article body -->
    <div class="article-body">
    {% if paragraphs %}
        {% for paragraph in paragraphs %}
            <summary-paragraph>
                {% if paragraph['Image'] %}
                    <figure slot="slot-image" >
                        <img src="{{ url_for('main.return_image', filename=paragraph['Image'].src) }}" alt="{{ paragraph['Image'].alt }}"/>
                        {% if article_image.cite %}
                            <figcaption>{{ paragraph['Image'].cite | safe }}</figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                {% if paragraph['Paragraph'].header %}
                    <h3 slot="slot-header">{{ paragraph['Paragraph'].header }}</h3>
                {% endif %}
                {% if summaries %}
                    {% for summary in summaries %}
                        {% if summary.paragraph_index == paragraph['Paragraph'].index %}
                            <p slot="slot-summary">{{ summary.text }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </summary-paragraph>
        {% endfor %}
    {% endif %}
    </div> 
</article>
{% endblock %}