{% extends "layout.html" %}

<!-- Page metadata -->
{% block pagemeta %}
    <title>Easy Read | Requests to publish</title>
    <meta name="description" content="View the requests my writers have sent to publish their articles">
{% endblock %}

<!-- CSS -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/css/general.css"/> 
    <link rel="stylesheet" href="/static/css/sitewide.css"/>  
    <link rel="stylesheet" href="/static/css/article-pages.css"/> 
{% endblock %}

<!-- JavaScript -->
{% block scripts %}
    <script src="/static/javascript/header.js" defer></script>
    <script src="/static/javascript/display-articles.js" defer></script>
{% endblock %}

<!-- Main -->
{% block main %}
    <div id="publisher-requests" class="full-spread">
        <ul id="publisher-navigation">
            <li><a href="{{ url_for('main.display_publisher_articles') }}">Articles</a></li>
            <li><a href="{{ url_for('main.display_writers') }}">Writers</a></li>
            <li><h1>Requests</h1></li>
        </ul>
        <ul class="dropdown-panel label-colour">
            <li class="dropdown-tab">
                <a id="my-requests-tab">To Me {% if associated or disassociated %} ({{ associated|length + disassociated|length }}) {% endif %}</a>
            </li>
            <li class="dropdown-tab dropdown-tab-right">
                <a id="all-writers-tab">{% if unassociated %} ({{ unassociated|length }}) {% endif %} To All</a>
            </li>
        </ul>
        <section id="articles-display-panel">
            <ul>
                {% if associated %}
                    {% for request in associated %}
                    <li class="label-colour article-display status-my-requests {% if request['Article'].status == 'pub_requested' %} status-published {% endif %}">
                        {% if request['Image'].src %}
                            <figure>
                                <img src="{{ url_for('main.return_image', filename=request['Image'].src) }}">
                                <figcaption><h3>{{ request['Article'].title }}</h3></figcaption>
                            </figure>
                        {% else %}
                            <i class="no-image-icon far fa-image"></i>
                            <h3>{{ request['Article'].title }}</h3>
                        {% endif %}
                        <p>{{ request['Article'].description }}</p>
                        <p>Author: {{ request['User'].username }}</p>
                        <i class="article-actions-icon fas fa-edit">
                            <div class="article-actions-dropdown">
                                <form class="article-action-review" action="{{ url_for('main.review_article') }}" method="get">
                                    <input type="hidden" name="article-id" value="{{ request['Article'].id }}">
                                    <button type="submit" class="button grey-out">Review</button>
                                </form>
                            </div>
                        </i>
                    </li>
                    {% endfor %}
                {% endif %}
                {% if disassociated %}
                    {% for request in disassociated %}
                    <li class="label-colour article-display status-my-requests {% if request['Article'].status == 'pub_requested' %} status-published {% endif %}">
                        {% if request['Image'].src %}
                            <figure>
                                <img src="{{ url_for('main.return_image', filename=request['Image'].src) }}">
                                <figcaption><h3>{{ request['Article'].title }}</h3></figcaption>
                            </figure>
                        {% else %}
                            <i class="no-image-icon far fa-image"></i>
                            <h3>{{ request['Article'].title }}</h3>
                        {% endif %}
                        <p>{{ request['Article'].description }}</p>
                        <p>Author: {{ request['User'].username }}</p>
                        <i class="article-actions-icon fas fa-edit">
                            <div class="article-actions-dropdown">
                                <form class="article-action-review" action="{{ url_for('main.review_article') }}" method="get">
                                    <input type="hidden" name="article-id" value="{{ request['Article'].id }}">
                                    <button type="submit" class="button grey-out">Review</button>
                                </form>
                            </div>
                        </i>
                    </li>
                    {% endfor %}
                {% endif %}
                {% if unassociated %}
                    {% for request in unassociated %}
                    <li class="label-colour article-display status-all-requests {% if request['Article'].status == 'pub_requested' %} status-published {% endif %}">
                        {% if request['Image'].src %}
                            <figure>
                                <img src="{{ url_for('main.return_image', filename=request['Image'].src) }}">
                                <figcaption><h3>{{ request['Article'].title }}</h3></figcaption>
                            </figure>
                        {% else %}
                            <i class="no-image-icon far fa-image"></i>
                            <h3>{{ request['Article'].title }}</h3>
                        {% endif %}
                        <p>{{ request['Article'].description }}</p>
                        <p>Author: {{ request['User'].username }}</p>
                        <i class="article-actions-icon fas fa-edit">
                            <div class="article-actions-dropdown">
                                <form class="article-action-review" action="{{ url_for('main.review_article') }}" method="get">
                                    <input type="hidden" name="article-id" value="{{ request['Article'].id }}">
                                    <button type="submit" class="button grey-out">Review</button></a>
                                </form>
                            </div>
                        </i>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock %}
